<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.        
        mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="true">
  <serverItems>
    <!-- serverUrl options:
            url = location of the ArcGIS Server, either specific URL or stem
            matchAll = true to forward any request beginning with the url
            token = (optional) token to include for token secured services, usually a long-term token
            tokenUrl = (optional) token service for a Web site (url)
            timeout = (optional) short-term timeout for a token in minutes
            username = (optional) username for a token or http secured site
            password = (optional) password for a token or http secured site
            domain = (optional) domain for an http secured site            
    -->
    <serverItem url="http://sampleserver1.arcgisonline.com/arcgis/rest/services"
                matchAll="true" />
    <serverItem url="http://sampleserver2.esri.com/arcgis/rest/services/"
                matchAll="true" />
    <serverItem url="http://server.arcgisonline.com/arcgis/rest/services"
                matchAll="true" />    
    <!--<serverItem url="http://net931/ArcGISToken/rest/services"
                matchAll="true" tokenUrl="http://net931/arcgistoken/tokens" 
                username="test" password="test.test"
                timeout="30" />-->
    <serverItem url="http://net931/ArcGIS/rest/services"
                matchAll="true" domain="net931" username="rex" password="rex" />
    <serverItem url="http://net931/ArcGISToken/rest/services"
                matchAll="true" 
                token="XONNvtvh9u-Depi26nvMxUaSm-q-_aft9ipe6NdyDlaWajbHyxPNskCoMe9CmtjV" />

  </serverItems>
</ProxyConfig>
